.aplayer-container {
  display: none;
}
.aplayer-container.show {
  display: block;
}

.aplayer.aplayer-fixed .aplayer-lrc {
  bottom: 4px;
}
.aplayer .aplayer-lrc p.aplayer-lrc-current {
  color: #007bff;
}
