.card-container {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1em;
  padding: 1em;
}

.card-item {
  max-height: 300px;
  border-radius: 6px;
  border: 2px solid #d1d9e0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-title {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  border-bottom: 1px solid #d1d9e0;
  flex-shrink: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 0.5em;
}

.count-badge {
  font-size: 12px;
  margin-left: 2px;
  color: red;
}
.count-badge.normal {
  display: inline-block;
  text-align: center;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 50%;
  background-color: red;
  color: #fff;
}

.sticky-mark::before {
  content: '*';
  color: #f00;
  margin-right: 2px;
}

.card-list {
  flex: 1;
  box-sizing: border-box;
  overflow: auto;
  padding-right: 0.5em;
}

.card-list::-webkit-scrollbar {
  width: 0;
  transition: width 0.2s ease;
}
.card-list::-webkit-scrollbar-thumb {
  background: #a09f9f;
  border-radius: 0.25em;
}
.card-list::-webkit-scrollbar-thumb:hover {
  background: #808080;
}
.card-item:hover .card-list::-webkit-scrollbar {
  width: 0.3em;
}

.card-list li:not(:last-child) {
  margin-bottom: 0.3em;
}

@media screen and (max-width: 768px) {
  .card-list::-webkit-scrollbar {
    display: none;
  }
}
