.social {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  z-index: 1;
  max-width: calc(100% - 96px);
  overflow: auto;
  margin-right: 1em;
}
.social::-webkit-scrollbar {
  display: none;
}
.social a {
  cursor: pointer;
  display: inline-block;
  margin-left: 1em;
}
.social img {
  color: #000;
  display: inline-block;
}

.social-bars {
  cursor: pointer;
  display: none;
  width: 26px;
  height: 26px;
  margin-right: 0.5em;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.modal-overlay {
  position: absolute;
  top: 40px;
  left: 0;
  max-width: calc(100% - 16px);
  display: none;
  z-index: 1;
}
.modal-overlay.show {
  display: block;
}

.modal-container {
  width: fit-content;
  max-width: 100%;
  height: fit-content;
  box-sizing: border-box;
  background: #f8f8f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  position: relative;
  border-radius: 8px;
  gap: 0.5em;
}

.modal-container::before {
  content: '';
  position: absolute;
  top: -8px;
  left: var(--triangle-left, 50%);
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
}

.modal-container img {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  cursor: pointer;
}

.fullscreen-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
  display: none;
  align-items: center;
  justify-content: center;
}
.fullscreen-modal-overlay.show {
  display: flex;
}
.fullscreen-modal-img {
  max-width: 356px;
  max-height: 356px;
  object-fit: contain;
  cursor: zoom-out;
}

@media screen and (max-width: 768px) {
  .modal-container {
    border-radius: 8px;
  }

  .modal-overlay {
    max-width: calc(100vw - 16px);
  }

  .fullscreen-modal-img {
    max-width: 356px;
    max-height: 356px;
  }

  .social {
    margin-right: 0.5em;
    display: none;
  }
  .social.show {
    display: flex;
  }

  .social-bars {
    display: block;
  }
}
