.nav-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  text-align: center;
  line-height: 50px;
  border-radius: 0 0 0 100%;
  background-color: #007bff;
  cursor: pointer;
  color: #fff;
  font-size: 1em;
  z-index: 9;
  margin: 0;
  padding: 0;
  border: none;
  transition: all 0.3s ease;
}

.nav-container:hover {
  width: 80px;
  height: 50px;
  line-height: 45px;
  text-align: center;
  border-radius: 0 0 0 4px;
}

.nav-container .hidden {
  display: none;
}
.hide-toc:hover {
  width: 50px;
  border-radius: 0 0 0 100%;
}
.nav-toc {
  margin-right: 6px;
}
.hide-toc .nav-toc {
  display: none;
}

.hide-toc .nav-back,
.hidden ~ .nav-back {
  margin: 0 0 10px 10px;
}

.nav-container img {
  width: 30px;
  height: 30px;
}

.nav-toc.hide {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-container,
  .nav-container:hover {
    width: 50px;
    border-radius: 0 0 0 100%;
  }

  .nav-toc {
    display: none;
  }

  .nav-back {
    margin: 0 0 10px 10px;
  }
}
