
.hello-card {
  background: linear-gradient(to right, #e6ffe6, #fff, #ffebf7); /* 修改背景颜色渐变 */
}

.hello-text {
  font-size: 150px;
  font-weight: bold;
  background: linear-gradient(
    to right,
    teal,
    limegreen,
    yellow,
    orange,
    pink,
    purple,
    dodgerblue
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 -109px 133px -9px #000000 inset; /* 添加内阴影效果 */
}

.card-content {
  background: none; /* 移除背景色 */
  color: black; /* 更改文本颜色 */
}

.latest-article span {
  font-size: 18px; /* 调整字体大小 */
  margin-bottom: 10px; /* 调整间距 */
}

.latest-article h2 {
  font-size: 36px; /* 调整字体大小 */
  margin: 0;
}

.more-recommend {
  background-color: white; /* 更改按钮背景色 */
  border: 1px solid #ccc; /* 添加边框 */
  color: #f03b9c; /* 更改按钮文字颜色 */
  padding: 10px 20px; /* 调整按钮内边距 */
  border-radius: 20px; /* 圆角 */
  display: flex;
  align-items: center;
}

.more-recommend .anticon {
  margin-right: 5px; /* 图标与文字之间的间距 */
}