<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="footer-content">
      <span>&copy;${isMobile() ? '' : '2013-'}${new Date().getFullYear()}</span>
      <a href="https://wuhuajin.com" target="_blank" rel="noopener noreferrer" title="博客"> &nbsp;吴华锦 </a>
      &nbsp;|&nbsp;访问
      <span id="vercount_value_site_uv"></span>人 
      <span id="vercount_value_site_pv"></span>次
    </div>
  </body>
</html>
