<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta
      name="keywords"
      content="吴华锦,吴华锦的个人主页,个人主页,博客,吴华锦的博客,华锦,友链,一站式AI应用平台,AI,ai,wuhuajin,whjin,huajinwu,huajin"
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="description" content="吴华锦的个人主页" />
    <meta name="author" content="吴华锦" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>友链 &laquo; 吴华锦</title>
    <link rel="stylesheet" href="../../link/style.css" />
  </head>
  <body>
    <main class="link-container"></main>
    <script src="../../link/index.js"></script>
  </body>
</html>
